[submodule "DL4MIA_Pre-course_Webinar"]
	path = 00_pre-course_webinar
	url = https://github.com/dl4mia/DL4MIA_Pre-course_Webinar
[submodule "04_denoising"]
	path = 02_regression
	url = https://github.com/dl4mia/04_denoising
[submodule "01_segmentation"]
	path = 01_segmentation
	url = https://github.com/dl4mia/01_segmentation
[submodule "05_learned_representations"]
	path = 03_learned_representations
	url = https://github.com/dl4mia/05_learned_representations
[submodule "00_first_steps"]
	path = 00_first_steps
	url = git@github.com:dl4mia/00_first_steps.git
